.user-deatils{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feedback-container{
    width: 70vw;
    background-color: #373b69;
    color:white;
    border-radius: 2vh;
    margin-top: 2vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
    padding: 10px;
}
.username-feedback{
    color: black;
}

.user-icon{
    float: left; 
  /* padding: 12px; */
    color: white;
  /* text-decoration: none;  */
    font-size: 10px;
    width: 4em;
    height: 4em;

}
.fa_custom{
    color: gold;
    margin-right: 2vh;
}