@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
  box-sizing: border-box;
}


body{
  background-color: #22254b;
  color: white;
  font-family: "Poppins",sans-serif;
  margin: 0;
}

.root{
  display: flex;
  flex-direction: column;
}

header{
  background-color: #373b69;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

.search{
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid #22254b;
  font-family: inherit;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 1.5rem;
  width: 60vw;
}

.search:focus{

  outline: 0;
}
  

.movie{
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  position: relative;
  overflow: hidden;
  width:300px;
}

.movie img{
  max-width: 100%;
  cursor: pointer;
}

.header{
  background-color: #373b69;
  padding: 1rem;
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3{
  margin: 0;
}

.movie-over{
  background-color: #fff;
  color: #22254b;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over{
  transform: translateY(0%);
}

.tag{
  background-color: #22254b;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
}

.tag.green{
  color: rgb(5, 184, 5);
}

.tag.red{
  color: red;
}

.tag.orange{
  color: orange;
}

.Main-Poster{
  height: 10vh;
  background-image: url("https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OHw0NTYzMDI0fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  margin: 3vh;
}

.Main-Poster p{
  text-align: center;
}