.LoginMain{
    border: 1px solid white;
    background-color:#373b69;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin:auto;
    margin-top:5%;
    /* border-radius: 2vh; */
}
.formStyle{

    padding-bottom:50px;
    display: flex;
    margin:auto;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    width:60%;
}
.spanStyle{
    font-size: 44px;
    text-align: center;
    margin:auto;
    width:97%;
    color: gold;
    font-weight: bold;
}
.InputStyle{
    width:100%;
    height:40px;
    margin: 10px;
}
.buttonDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;  
  margin-top: 3vh;
}
.inputButton{
    color:#22254b;
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    background-color: gold;
    border-radius: 1vh;
    width: 20vh;
    height: 8vh;
    color: black;
    font-size: 2.5vh;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
}

.inputButton:hover {
    background-color: red;
    box-shadow: 0px 15px 20px rgba(201, 101, 34, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  @media only screen and (max-width: 600px) {
    .inputButton{
        width: 15vh;
        height: 5vh;
        color: black;
        font-size: 2vh;
    }
}



@media only screen and (max-width: 600px) {
    .spanStyle{
        font-size: 36px;
        text-align: center;
        margin:auto;
        width:97%;
    }
  }

  @media only screen and (max-width: 400px) {
    .spanStyle{
        font-size: 24px;
        text-align: center;
        margin:auto;
        width:97%;
    }
    .inputButton{
        color:#22254b;
        padding:5px;
        padding-left:3px;
        padding-right:3px;
    }
    .InputStyle{
        width:100%;
        height:30px;
        margin: 5px;
    }
  }